/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../assets/fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../assets/fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;

    --background-color: #eeeeee;
    --accent-color: #acdeff;

    /* defaults for scrollbar */
    --scrollbar-background-color: transparent;
    --scrollbar-width: 8px;
    --scrollbar-track-color: #f2f2f2;
    --scrollbar-track-border: 1px solid #d3d3d3;
    --scrollbar-track-border-radius: 5px;
    --scrollbar-thumb-color: #b8b8b8;
    --scrollbar-thumb-color-hover: #b8b8b8;
    --scrollbar-thumb-border: 1px solid #aaaaaa;
    --scrollbar-thumb-border-hover: 1px solid #888888;
    --scrollbar-thumb-border-radius: 5px;

    --color-light-dimmed: #999999;
}

::-webkit-scrollbar {
    background-color: var(--scrollbar-background-color);
    width: var(--scrollbar-width);
    margin: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border: var(--scrollbar-thumb-border);
    border-radius: var(--scrollbar-thumb-border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color-hover);
    border: var(--scrollbar-thumb-border-hover);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border: var(--scrollbar-track-border);
    border-radius: var(--scrollbar-track-border-radius);
}

body {
    margin: 0;
    background-color: var(--background-color);
    line-height: 1.4;
    color: black;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

h1 {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: 0;
}

h1 > span {
    display: block;
    font-size: 0.9em;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.4rem;
    color: #404440;
}

section {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
    transition: color ease-out .3s
}

a:hover {
    color: blue;
}

.outer {
    display: flex;
    justify-content: center;
    font-size: 0.95rem;
}

.content {
    margin: 40px 25px;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #d5d4d7 inset, 3px 3px 7px -5px #bbb;
}

header {
    background-color: var(--accent-color);
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(100, 100, 100, 30%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 40px;
}

header img {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #444444;
    aspect-ratio: 1;
    max-width: 220px;
    min-width: 220px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(150, 150, 150, 35%);
}

.info-block {
    flex-grow: 1;
}

.data {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    flex-grow: 1;
}

nav {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

nav img.active {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

nav img:not([class="active"]):hover {
    scale: 110%;
}

nav img {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    width: 32px;
    border: 1px solid transparent;
    transition: scale ease-out 0.2s;
}

.customer-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.customer-list li {
    position: relative;
}

.customer-list > li img {
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    padding: 10px;
    aspect-ratio: 1;
    object-fit: contain;
    border: 1px solid grey;
    border-radius: 4px;
    transition: scale linear 0.2s;
}

.customer-list img:not([alt="tape.tv"]):hover {
    scale: 105%;
}

.customer-list img:is([alt="tape.tv"]):hover {
    cursor: not-allowed;
}

.stopper {
    pointer-events: none;
    font-size: 0.7rem;
    padding: 4px 14px 4px 10px;
    background-color: rgba(255, 255, 255, .2);
    position: absolute;
    border-radius: 0 0 20px 0;
    color: white;
    z-index: 10;
}

.chip-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.chip-list li {
    background-color: var(--accent-color);
    border: 1px solid #aaaaaa;
    padding: 4px 14px;
    border-radius: 9999px;
    display: inline-block;
}

footer {
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer > * {
    white-space: nowrap;
}

@media print {
    body {
        background-color: white;
    }

    nav img:not([class="active"]) {
        display: none;
    }

    nav img.active {
        border: none;
    }

    .customer-list > li img {
        width: 110px;
        height: 110px;
    }

    .content {
        margin: 0;
    }
}
